/* Common rules */
body{
     font-family: Arial, sans-serif;

}


/* Utility */
.rel{
    position: relative;
}
.p_bottom{
    position: absolute;
    bottom: 20px;
}
.rounded_1{
    border-radius: 1rem;
}
/* Utility */
/* background */
.b_dark_gray{
    background-color: #1F1F1F ;
}
.bg_lighgray{
    background: #BEBCBB;
    height: 300px;
}
.bg_darkblue{
    background: #161C3B;
    height: 300px;
}
/* Header */



/* Main */
    /* Hero game section */
    .bkg{
        height: 456px;
        background-image: url(../img/jumbo-bg.png);
        background-size: cover;
        background-position: center;
    }
    .bkg_itt{
        height: 500px;
        background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
        background-position: center;
        background-size: cover;
   
    }
    
    