/* Common rules */
body{
     font-family: Arial, sans-serif;
     
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: bold;
}

/* Utility */
.rel{
    position: relative;
}
.absolute{
    position: absolute;
}
.p_bottom{
    position: absolute;
    bottom: 20px;
}
.rounded_1{
    border-radius: 1rem;
}
.list_none{
    list-style: none;
}
.small{
    font-size: 8px;
}
/* Utility */

/* background */
.b_dark_gray{
    background-color: #1F1F1F ;
}
.bg_lighgray{
    background: #BEBCBB;   
}
.bg_darkblue{
    background: #161C3B;
    
}
.bg_blue{
    background: #00439C;
}
.bg_orange{
    background: #CD3D0F;
}
/* Header */
#site_header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
}
nav li{
    margin: 2px;
}


/* HOVER NAVBAR */
#site_header .nav_hover:hover{
    color: #0070D1 !important;
}
.nav_hover:hover .visibility{
    display: none;
}
.visibility_none{
    display: none;
}
.nav_hover:hover .visibility_none{
    display: inline;
}
/* HOVER NAVBAR  */


/* Main */

    /* Hero game section */
    .hero_background_start{
        height: 456px;
        background-image: url(../img/jumbo-bg.png);
        background-size: cover;
        background-position: center;
    }
    .hero_background_center{
        height: 500px;
        background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
        background-position: center;
        background-size: cover;
   
    }
.giochi h6{
    margin: 1rem 0;
    font-size: 16px;
    font-weight: 400;
}
/*footer  */
#site_footer li{
    margin: 1rem;
}
#site_footer li>a{
    text-decoration: none;
    color: white;
}