/* Common rules */
body{
     font-family: Arial, sans-serif;
     
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: bold;
}

/* Utility */
.rel{
    position: relative;
}
.absolute{
    position: absolute;
}
.p_bottom{
    position: absolute;
    bottom: 20px;
}
.rounded_1{
    border-radius: 1rem;
}
.list_none{
    list-style: none;
}
.small{
    font-size: 8px;
}
.pointer{
    cursor: pointer;
}
/* Utility */

/* background */
.b_dark_gray{
    background-color: #1F1F1F ;
}
.bg_lighgray{
    background: #BEBCBB;   
}
.bg_darkblue{
    background: #161C3B;
    
}
.bg_blue{
    background: #00439C;
}
.bg_orange{
    background: #CD3D0F;
}
/* Header */
#site_header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
}
nav li{
    margin: 2px;
}


/* HOVER NAVBAR */
#site_header .nav_hover:hover{
    color: #0070D1 !important;
}
.nav_hover:hover .visibility{
    display: none;
}
.visibility_none{
    display: none;
}
.nav_hover:hover .visibility_none{
    display: inline;
}
/* HOVER NAVBAR  */


/* Main */

    /* Hero game section */
    .hero_background_start{
        height: 456px;
        background-image: url(../img/jumbo-bg.png);
        background-size: cover;
        background-position: center;
    }
    .hero_background_center{
        height: 500px;
        background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
        background-position: center;
        background-size: cover;
   
    }
    /* game gallery */
.giochi h6{
    margin: 1rem 0;
    font-size: 16px;
    font-weight: 400;
}
.active_gallery{
    padding: 3px;
    border: 2px solid #0070D1;
    border-radius: 20px;
}
.pan{
    transition: 0.5s;
}
.pan:hover{  
    cursor: pointer;
    translate: 0 -10px;
    
}
/* accessori ps5 */
img.opacity{
    filter: opacity(0.5);
    transition: 0.5s;
}

img.opacity:hover{
    cursor: pointer;
    filter: opacity(1);
}
.selected{
    border-bottom: 2px solid #0070D1;
}
/*footer  */
#site_footer li{
    margin: 1rem;
}
#site_footer li>a{
    text-decoration: none;
    color: white;
}
/* buttons */
.button_blue{
    color: white;
    text-decoration: none;
    background: #0070D1;
    padding: 0.5rem;
    outline: 5px solid #0070D1;
    border: 1px solid #0070D1;
    
}
.button_blue:hover{
    color: white;
    border: 2px solid white;
    transition: 0.5s;
}
.button_orange{
    color: white;
    text-decoration: none;
    background: #CD3D0F;
    padding: 0.5rem;
    outline: 5px solid #CD3D0F;
    border: 1px solid #CD3D0F;
    
}
.button_orange:hover{
    color: white;
    border: 2px solid white;
    transition: 0.5s;
}

.button_tran{
    color: #0070D1;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.699);
    padding: 1rem;  
}
.button_tran:hover{
    color: #0070D1;
    outline: 1px white;
    transition: 0.5s;
}
.button_white{
    color: black;
    text-decoration: none;
    background: white;
    padding: 0.5rem;
    outline: 5px solid white;   
}
.button_white:hover{
    color: black ;
    border: 2px solid black;
    transition: 0.5s;
}