/* Common rules */
body{
     font-family: Arial, sans-serif;
}


/* Utility */
.rel{
    position: relative;
}
.p_bottom{
    position: absolute;
    bottom: 20px;
}
/* Utility */

/* Header */



/* Main */
    /* Hero game section */
    .hero_game{
        height: 456px;
        background-image: url(../img/jumbo-bg.png);
        background-size: cover;
        background-position: center;
    }