/* Common rules */
body{
     font-family: Arial, sans-serif;
}

/* Header */


/* Main */
    /* Hero game section */
    .hero_game{
        height: 456px;
        background-image: url(../img/jumbo-bg.png);
        background-size: cover;
    }