/* Common rules */
body{
     font-family: Arial, sans-serif;

}


/* Utility */
.rel{
    position: relative;
}
.p_bottom{
    position: absolute;
    bottom: 20px;
}
.rounded_1{
    border-radius: 1rem;
}
/* Utility */

/* Header */



/* Main */
    /* Hero game section */
    .bkg{
        height: 456px;
        background-image: url(../img/jumbo-bg.png);
        background-size: cover;
        background-position: center;
    }
    .bkg_itt{
        height: 500px;
        background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
        background-position: center;
        background-size: cover;
   
    }